
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    font: inherit;
	vertical-align: baseline;
}

*{
box-sizing: border-box;
}

html {
     font-size: 62.5%;  /* =10px (alap 16)*/
    }

body{
    background-color: #F4F3F5;
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    color: #211138;
}



/****HEADER******/

.header-top{
    height: 80px;
    background-color: #6200EA;
    position: relative;
}
.contact-header-div{
    padding-top: 3.3rem;
}
.header-nav{
    text-transform: uppercase;
    letter-spacing: 2.4px;
    font-weight: bold;
    color: #211138;
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
}
.nav-div{
    display: table;
    height: 80px;
    vertical-align: middle;
    text-align: center;
}

.header-white{
     height: 80px;
     vertical-align: middle;
     background-color: #FFFFFF;
     display: table;
      position: relative; 
}

.orb{
    text-align: center;
    color: #6200EA;
    background-color: #FFFFFF;
    margin-top: 1.8rem;
    padding-top: 1.3rem;
    margin-left: 15%;
    width: 16rem;
    height: 4rem;
    border-radius: 2.4rem;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
}
/***LOGO*****/


.logo_contact{
    margin-left: 0rem;
    margin-top:  1.4rem;
}
.login-logo{
    margin-top: 1.5rem;
    margin-left: 16%;
    margin-bottom: 20.2rem;
  /*  display: block; */
}
.login-icons{
   /* display: block; */
    padding-top: 1rem;
    padding-left: 17rem;
    margin-bottom: 22.2rem;
}
.logo_50{
    margin-left: 45%;
    margin-top:  1.4rem;
    position: absolute;
}
.logo_chat{
    margin-top:  1.4rem;
    position: absolute;
  
}
/***Footer***/

.footer-index{
    background: #211138;
    color: #b2acba;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.4px;
    height: 100px;
    margin-top: 40px;
    padding-top: 4.3rem;
    padding-bottom: 4.4rem;
    position: absolute;
}

    .footer-contact{
        padding-top: 4rem;
        background: #211138;
        color: #b2acba;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2.4px;
        height: 100px;
        margin-top: 40px;
        padding-top: 7.3rem;
        position: absolute;
    }
        .login-footer{
            margin-top: -0.1rem;
        }

/*************/

h1{
    font-weight: bold;
    font-size: 40px;
    font-family: Montserrat;
    margin-top: 11px;
    margin-bottom: 11px;
}

.h2-address{
    text-transform: uppercase;
    color: #6200EA;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 2.4px;
}
   /* 
    .h2-recommend{
        filter: none;
        text-transform: uppercase;
        color: #6200EA;
        font-size: 1rem;
        text-align: right;
        font-weight: bold;
        margin-bottom: 1.1rem;
        letter-spacing: 2.4px;
    } */
        .h2-contact{
            margin-top: 3rem;
        }

        .h2-recommended{
            text-transform: uppercase;
            color: #6200EA;
            font-weight: bold;
            margin-top: 2rem;
            margin-bottom: 1rem;
            letter-spacing: 2.4px;
        }
   
article{
    margin-top: 60px;
    display: table;
}

a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2.4px;
}
    a:active{
        color: #6200EA;
        border-bottom: solid 0.2rem;
    }
        a:hover{
            color: #790707e0;
            border-bottom: solid 0.2rem;
        }

            .a-gray{
                color: #B2ACBA;
                text-transform: uppercase;
                display: block;
                padding-top: 2.2rem;
                padding-bottom: 2.3rem;
                font-size: 1.2rem;
            }

                .a-white{
                    color: #F4F3F5;
                    text-transform: uppercase;
                    margin-left: 6rem;
                }

                    .a-featured{
                        border: 2px solid #FFFFFF;
                        border-radius: 24px;
                        color: #FFFFFF;
                        padding-left: 25px;
                        padding-right: 25px;
                        padding-top: 11px;
                        padding-bottom: 11px; 
                        width: 160px;  
                        display: inline-block;
                    }

                    .a-categores{
                        color: black;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding-top: 1.7rem;
                        margin: 0rem 2rem 1.8rem 3rem;
                        text-align: left;
                        display: block;
                    
                    }


#fa-search{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

    #fa-search .fas {
        color: #B2ACBA;
        font-size: 20px;
        margin-left: -30px;
        margin-top: 36px;
        position: absolute;
        float: right;
        }
                    
            #fa-search input{
                position: relative;
            }


span{ color: #6200EA;}

span.i-span{
    color:#FFFFFF;
    font-size: 2.8rem;
    font-weight: 600;
}

    input{
        width: 100%;
        height: 5rem;
        margin-bottom: 11px;
        padding: 1.6rem;
        background-color: #f4f3f5;
        margin-top: 2rem;
        border: none;
    }
    input:hover{
        color: #790707e0;
        border-bottom: solid 0.2rem;
    }

           .navinput input[type=text]{ /*div nek adok osztálynevet, bene a..*/
                border-bottom: 0.3rem solid #6200EA;
            }

                input:focus{             
                    border: #B2BDFF 0.2rem solid;
                }

                        textarea{
                            width: 100%;
                            height: 15rem;
                            background-color: #f4f3f5;
                            border: none;
                            padding: 1.6rem;
                            text-decoration: none;
                        }

                            textarea::placeholder{
                                color: #b2acba;
                                font-size: 1.4rem;
                            }

                                input[type=submit]{
                                background-color: #6200EA;  
                                color: #FFFFFF;
                                font-size: 1.2rem;
                                border-radius: 24px;
                                text-transform: uppercase;
                                letter-spacing: 2.4px;
                                }
                                    input[type=button]{
                                        filter: none;
                                        background-color: #FFFFFF;  
                                        color:  #6200EA;
                                        font-size: 1.2rem;
                                        border: solid 1px  #6200EA;
                                        border-radius: 24px;
                                        letter-spacing: 2.4px;
                                    }
   
 p{ color: #211138;}  
                               
 .p-sample{
    text-align: left;
    font-size: 20px;
        }
        .p_margin{
            font-size: 1.4rem;
            margin: 1rem 2rem 2rem 0rem;
        }
            .p-business-culture{
                font-size: 1.4rem;
                padding-bottom: 2rem;
                }
                    .p-contact{
                        font-size: 2rem;
                    }

                    .p-featured{
                        font-size: 2rem;
                        color: #FFFFFF;
                        line-height: 150%;
                        margin-bottom: 20px;
                    }
.readMore-purple{
    border-color: #6200EA;
    border: 2px solid;
    border-radius: 24px;
    color: #6200EA;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 2.3rem; 
    width: 160px;  
    display: inline-block;
}

.sidebar{
    border-top: #F4F3F5 solid 0.15rem;
}

