.layout-100{ width: 100%; }

.layout-70{ 
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.layout-30{ 
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.layout-floated-left{ float: left; }


.layout-floated-right{ float: right; }


.layout_item-right{
    width: calc(40% - 1.5rem);
}

.layout_item-left{
    width: calc(60% - 1.5rem);
}

.item-350{
 width: calc(70% - 0.15rem);
}

.item-50 {
    width: calc(50% - 1.5rem);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .block{
      display: block;
  }

  .inline-block{
      display: inline-block;
  }

  iframe{
    border-radius: 1.5rem;
  }
  
  .footer-contact{
      padding-top: 4rem;
  }

  .left-float{
      float: left;
  }